<ion-header>
    <ion-toolbar>
        <ion-title>{{ timetableId === '0' ? 'Create Timetable' : 'Update Timetable' }}</ion-title>
        <ion-buttons slot="start">
            <ion-button>
                <ion-back-button defaultHref="/home"></ion-back-button>

            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>



<ion-content>
    <form (ngSubmit)="saveTimetable()">
        <ion-item>
            <ion-label position="floating">Timetable Name</ion-label>
            <ion-input [(ngModel)]="timetableName" name="timetableName" required></ion-input>
        </ion-item>

        <div *ngFor="let day of days">
            <ion-card class="cardclass">

                <div class="dayClass">
                    <ion-label>{{day}}</ion-label>
                    <ion-fab horizontal="end" class="fabclass" (click)="addTimeSlot(day)">
                        <ion-fab-button color="" size="small" class="fabcontainer">
                            <ion-icon name="add"></ion-icon>
                        </ion-fab-button>
                    </ion-fab>
                </div>
                <ion-list no-padding *ngFor="let slot of timetable[day]" s>
                    <ion-grid>
                        <ion-row>
                            <ion-col size="3" class="custom-time-input">
                                <ion-input placeholder="Start Time" type="time" class="time-input" [(ngModel)]="slot.startTime" name="{{ day }}_start_{{ slot.id }}"> </ion-input>

                            </ion-col>
                            <ion-col size="3" class="custom-time-input">
                                <ion-input placeholder="Start Time" type="time" class="time-input" [(ngModel)]="slot.endTime" name="{{ day }}_end_{{ slot.id }}"></ion-input>

                            </ion-col>
                            <ion-col size="3" class="custom-time-input">
                                <ion-input placeholder="Subject" type="text" [(ngModel)]="slot.subject" name="{{ day }}_subject_{{ slot.id }}" class="time-input"></ion-input>

                            </ion-col>
                            <ion-col size="3" class="custom-time-input">
                                <ion-button color="danger" class="buttonClass" (click)="removeTimeSlot(day, slot.id)">Remove</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-list>
            </ion-card>

        </div>
        <ion-grid>
            <ion-row>
                <ion-col size=""></ion-col>
                <ion-col size="6">
                    <ion-button class="submitbuttonclass" type="submit">{{ timetableId === '0' ? 'Save Timetable' : 'Update Timetable' }}</ion-button>

                </ion-col>
                <ion-col></ion-col>
            </ion-row>
        </ion-grid>

    </form>


</ion-content>